@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: white;
  color: black;
}

/* Define styles for different screen sizes */
@media (max-width: 768px) {
  /* Styles for smaller screens */
  .main-box{
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for medium-sized screens */
  .main-box{
    width: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Styles for larger screens */
  .main-box{
    width: 50%;
    
  }
}

@media (min-width: 1201px){
  /* Styles for very large screens */
  .main-box{
    width: 35%;
  }
}

